{% extends "portfolio/layout.html" %}
{% block title %}
  Project - Amazon Niche Finder
{% endblock %}

{% block body %}
  <div id="layoutDefault">
    <div id="layoutDefault_content">
      <main>
        <!-- Page Header-->
        <header class="page-header-ui page-header-ui-dark bg-gradient-primary-to-secondary">
          <div class="page-header-ui-content pt-10">
            <div class="container px-5 text-center">
              <div class="row gx-5 justify-content-center">
                <div class="col-lg-8">
                  <h1 class="page-header-ui-title mb-3">Amazon Niche Finder</h1>
                  <p class="page-header-ui-text">A SaaS that allows users to research affiliate niche products on Amazon.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="svg-border-rounded text-white">
            <!-- Rounded SVG Border-->
            <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 144.54 17.34" preserveaspectratio="none" fill="currentColor">
              <path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path>
            </svg>
          </div>
        </header>
        <section class="bg-white py-10">
          <div class="container px-5">
            <div class="row gx-5 justify-content-center">
              <div class="col-lg-10">
                <h2 class="mb-4">A quick overview</h2>
                <p>Amazon Niche Finder (ANF) is an app that allows affiliate marketers (people who earn a commission by promoting a product or service made by another retailer or advertiser) to look through all of amazon's bestseller categories and discover products/niches. (niche: a specialized segment of the market for a particular kind of product or service.)
                </p>
                <p>ANF further allows a user to do preliminary research to determine if a niche possibility matches
                  <a href="https://sirlinksalot.co/keyword-golden-ratio/">Golden Ratio criteria</a>. The Golden Ratio, in short, divides Google allintitle search results by normal (not allintitle) search volume, where preferred search volume is 250 or less. The resulting ratio gives you an idea of how easy a topic would be to rank on page one of Google in a relatively short period of time.</p>
                <p>ANF is mainly an idea generator. Many affiliate marketers use Amazon as a low barrier to entry for affiliate marketing. ANF allows the user to look through categories and if they see something that interests them (eg. 'cat hammocks'), they can use the built in keyword search tool to see if the idea is worth pursuing.</p>
                <p>Because the external API's require payment based on usage, the ANF requires authorized login to demo/use.</p>
                <div class="card bg-light shadow-none">
                  <div class="card-body">
                    <h6>Project Links</h6>
                    <ul class="mb-0 icons">
                      <li class="text-italic">Check out the demo:
                        <a href="https://amazon-niche-finder.herokuapp.com/">Amazon Niche Finder SaaS Demo (Server may take a moment to spin up. Please give a minute to load)</a>
                        <ul>
                          <li>Demo Login: demouser</li>
                          <li>Demo Pass: demopass</li>
                        </ul>
                      </li>
                      <li class="text-italic">
                        Check out the code:
                        <a href="https://github.com/megler/anf">Github
                        </a>
                        <ul>
                          <li>
                            Complete walkthrough in the
                            <a href="https://github.com/megler/anf">README</a>
                          </li>
                        </ul>

                      </li>
                    </ul>
                  </div>
                </div>
                <hr class="my-5"/>
                <h4 class="mb-4">
                  <div class="icon-stack bg-primary text-white me-2">
                    <i data-feather="arrow-right"></i>
                  </div>
                  This is what ANF will do
                </h4>
                <div class="card bg-light shadow-none">
                  <div class="card-body">
                    <h6>Features</h6>
                    <ul class="mb-0">
                      <li class="text-italic">
                        Relational SQL Database
                      </li>
                      <li class="text-italic">
                        Modified Pre-Ordered Tree Traversal (mptt)
                      </li>
                      <li class="text-italic">
                        Django Custom Admin Commands
                      </li>
                      <li class="text-italic">
                        Django serializers (API) via Djanfo REST Framework
                      </li>
                      <li class="text-italic">
                        User Authentication
                      </li>
                      <li class="text-italic">
                        Import from CSV to Database
                      </li>
                      <li class="text-italic">
                        External APIs
                      </li>
                      <li class="text-italic">
                        Amazon Category Search (over 27k categories)
                      </li>
                      <li class="text-italic">
                        Regex for link manipulation
                      </li>
                      <li class="text-italic">
                        Django backend with Javascript frontend.
                      </li>
                      <li class="text-italic">
                        Form handling
                      </li>

                    </ul>

                  </div>
                </div>
                <hr class="my-5"/>

              </div>
            </div>
          </div>
          <div class="svg-border-rounded text-dark">
            <!-- Rounded SVG Border-->
            <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 144.54 17.34" preserveaspectratio="none" fill="currentColor">
              <path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path>
            </svg>
          </div>
        </section>
      </main>
    </div>
  </div>
{% endblock body%}
