{% extends "portfolio/layout.html" %}
{% block title %}
  Project - Auction Ecommerce Platform
{% endblock %}

{% block body %}
  <div id="layoutDefault">
    <div id="layoutDefault_content">
      <main>
        <!-- Page Header-->
        <header class="page-header-ui page-header-ui-dark bg-gradient-primary-to-secondary">
          <div class="page-header-ui-content pt-10">
            <div class="container px-5 text-center">
              <div class="row gx-5 justify-content-center">
                <div class="col-lg-8">
                  <h1 class="page-header-ui-title mb-3">Auction Platform</h1>
                  <p class="page-header-ui-text">A Harry Potter themed auction platform.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="svg-border-rounded text-white">
            <!-- Rounded SVG Border-->
            <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 144.54 17.34" preserveaspectratio="none" fill="currentColor">
              <path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path>
            </svg>
          </div>
        </header>
        <section class="bg-white py-10">
          <div class="container px-5">
            <div class="row gx-5 justify-content-center">
              <div class="col-lg-10">
                <h2 class="mb-4">A quick overview</h2>
                <p>An auction/ecommerce platform written in Django where wizards and witches can buy and sell their items.
                </p>
                <div class="card bg-light shadow-none">
                  <div class="card-body">
                    <h6>Project Links</h6>
                    <ul class="mb-0 icons">
                      <li class="text-italic">Check out the demo:
                        <a href="https://accio-auctions.herokuapp.com/" target="_blank">Auction/Ecommerce Platform Demo</a>
                        Opens in new tab. Server may take a moment to spin up. Please give a minute to load
                        <ul>
                          <li>Demo Login: demouser</li>
                          <li>Demo Pass: demopass</li>
                        </ul>
                      </li>
                      <li class="text-italic">
                        Check out the code:
                        <a href="https://github.com/megler/commerce">Github
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <hr class="my-5"/>
                <h4 class="mb-4">
                  <div class="icon-stack bg-primary text-white me-2">
                    <i data-feather="arrow-right"></i>
                  </div>
                  This is what the blog will do
                </h4>
                <div class="card bg-light shadow-none">
                  <div class="card-body">
                    <h6>Features</h6>
                    <ul class="mb-0">
                      <li class="text-italic">
                        User Authentication
                      </li>
                      <li class="text-italic">
                        Custom Admin
                      </li>
                      <li class="text-italic">
                        Relational SQL Database
                      </li>
                      <li class="text-italic">
                        User specific watchlists
                      </li>
                      <li class="text-italic">
                        Contextual error messages
                      </li>
                      <li class="text-italic">
                        Custom gravatars for logged in users
                      </li>
                      <li class="text-italic">
                        Comments section where logged in users can comment on auction items
                      </li>
                      <li class="text-italic">
                        Logged in users can add, bid and if criteria are met, end an auction
                      </li>
                      <li class="text-italic">
                        The homepage lists all active auctions. Once an auction ends, it will no longer show up on this page.
                      </li>
                      <li class="text-italic">
                        Categories for various types of items (eg. Brooms, Wands, etc)
                      </li>
                      <li class="text-italic">
                        An individual listing page will display all relevant information, allow a logged in user to place a bid, add a comment and also add to their watchlist.
                      </li>
                      <li class="text-italic">
                        If a logged in user is on the listing page of an auction now ended and they are the highest bidder, they will be notified. Otherwise they will have an alert the auction has ended.
                      </li>
                      <li class="text-italic">
                        If item is already in user's watchlist, an alert will says "Item currently in watchlist" and give user the option to click a link to see their watchlist.
                      </li>
                      <li class="text-italic">
                        In the watchlist, a user can delete anything from the list.
                      </li>
                    </ul>

                  </div>
                </div>
                <hr class="my-5"/>

              </div>
            </div>
          </div>
          <div class="svg-border-rounded text-dark">
            <!-- Rounded SVG Border-->
            <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 144.54 17.34" preserveaspectratio="none" fill="currentColor">
              <path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path>
            </svg>
          </div>
        </section>
      </main>
    </div>
  </div>
{% endblock body%}
