{% extends "portfolio/layout.html" %}
{% block title %}
  Project - Stock and News Alerts
{% endblock %}

{% block body %}
  <div id="layoutDefault">
    <div id="layoutDefault_content">
      <main>
        <!-- Page Header-->
        <header class="page-header-ui page-header-ui-dark bg-gradient-primary-to-secondary">
          <div class="page-header-ui-content pt-10">
            <div class="container px-5 text-center">
              <div class="row gx-5 justify-content-center">
                <div class="col-lg-8">
                  <h1 class="page-header-ui-title mb-3">Stock and News Alerts</h1>
                  <p class="page-header-ui-text">A Python application utilizing external API's to send text and email alerts for stock prices and news.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="svg-border-rounded text-white">
            <!-- Rounded SVG Border-->
            <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 144.54 17.34" preserveaspectratio="none" fill="currentColor">
              <path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path>
            </svg>
          </div>
        </header>
        <section class="bg-white py-10">
          <div class="container px-5">
            <div class="row gx-5 justify-content-center">
              <div class="col-lg-10">
                <h2 class="mb-4">A quick overview</h2>
                <p>Get a text or email when your chosen stock(s) move more than N% or have relevant news.</p>
                <div class="card bg-light shadow-none">
                  <div class="card-body">
                    <h6>Project Links</h6>
                    <ul class="mb-0 icons">
                      <li class="text-italic">
                        Check out the code:
                        <a href="https://github.com/megler/Day36-Stock-News-Alert">Github
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <hr class="my-5"/>
                <h4 class="mb-4">
                  <div class="icon-stack bg-primary text-white me-2">
                    <i data-feather="arrow-right"></i>
                  </div>
                  This is what Stock News Alerts will do
                </h4>
                <div class="card bg-light shadow-none">
                  <div class="card-body">
                    <h6>Features</h6>
                    <p>Given a set of parameters, use Twilio, NewsAPI and AlphaAdvantageAPI to send a text with the top 3 headlines if a chosen stock is up or down over a given percentage (5%).</p>
                    <p>This allows a user to be notified via text and/or email if their stock makes a move or has news. This allows you to stay on top of your stock portfolio without a lot of fuss.</p>
                    <h6>This Tool Uses:</h6>
                    <ul class="mb-0">
                      <li class="text-italic">
                        <a href="https://www.twilio.com/">Twilio</a>
                      </li>
                      <li class="text-italic">
                        <a href="https://newsapi.org/">NewsAPI</a>
                      </li>
                      <li class="text-italic">
                        <a href="https://www.alphavantage.co/">Alpha Vantage API</a>
                      </li>
                    </ul>

                  </div>
                </div>
                <hr class="my-5"/>

              </div>
            </div>
          </div>
          <div class="svg-border-rounded text-dark">
            <!-- Rounded SVG Border-->
            <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 144.54 17.34" preserveaspectratio="none" fill="currentColor">
              <path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path>
            </svg>
          </div>
        </section>
      </main>
    </div>
  </div>
{% endblock body%}
