{% extends "movies/base.html" %}

{% block title %}Add Movie{% endblock %}

{% block body %}
  <div class="container mt-5">
    <div class="content">
      <h1 class="heading">Add a Movie</h1>
      <form method="post">
        {% csrf_token %}
        <div class="row mb-3">
          <label for="id_movie_title" class="form-label">Movie Title</label>
          {{ form.movie_title }}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
{% endblock %}
